/* Font usage */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800");

* {
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat", "sans-serif";
	box-sizing: border-box;
}

$white: #ffffff;
$primary-blue: #648cff;
$accent-blue: #234197;

// Hamburger menu start
.navbar-toggler {
	border-color: $accent-blue;
}

.hamburger-menu {

	.bar1,
	.bar2,
	.bar3 {
		width: 20px;
		height: 3px;
		background-color: $accent-blue;
		margin: 5px 0;
		transition: .4s;
	}

	&.change {
		.bar1 {
			transform: rotate(-45deg) translate(-6px, 6px)
		}

		.bar2 {
			opacity: 0
		}

		.bar3 {
			transform: rotate(45deg) translate(-5px, -5px)
		}
	}
}

// Hamburger menu end

.main-nav {
	color: $white;
	background-color: $primary-blue;

	a {
		color: $white;
	}

	.navbar-toggler {
		outline: none;
	}

	.navbar-nav {
		padding: 0 16px 8px;

		.nav-link {
			color: $white;
			padding: 8px;

			&:hover,
			&:active {
				color: $accent-blue;
				-webkit-transition: all .33s ease;
				-moz-transition: all .33s ease;
				-o-transition: all .33s ease;
				-ms-transition: all .33s ease;
				transition: all .33s ease;
			}
		}
	}

	@media (max-width: 768px) {
		.main-menu {
			position: absolute;
			top: 56px;
			left: 0;
			z-index: 100;
			background-color: $primary-blue;
			width: 100%;

			.navbar-nav {
				padding: 0;
			}
		}
	}
	
	@media (min-width: 768px) {
		.navbar-nav {
			padding: 0;
		}
	}
}

/* --- Assets/Advantages Section ------------------------------ */
.assets-wrapper {
	width: 100%;
	height: auto;
	overflow: hidden;

	.assets-title {
		text-transform: uppercase;

		.assets-perfect {
			font-size: 27px;
			letter-spacing: 1px;
			color: $primary-blue;
		}

		.assets-features {
			font-size: 42px;
		}
	}


}